body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
  font-size: 12px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 30px;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h2 {
  border-bottom: 1px solid #eee;
  font-size: 20px;
  line-height:25px;
  padding-bottom:5px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 12px;
}

div.article {
	border:1px solid #ccc;
	width:300px;
	height:300px;
	padding:20px;
	margin:20px;
	float:left;
}

div.article-clicked {
	border:1px solid;
	width:300px;
	height:300px;
	padding:20px;
	margin:20px;
	float:left;
	background-color:#eee;
}

div.article:hover {
	background-color:#eee;
}